.login-from {
    margin-top: 80px;
    border: 1px solid #ddd;
}

.login-from h4 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p.return-home {
    margin: 20px 0;
}

.admin {
	font-style: arial;
}

#slideshow {
    position:relative;
    height:460px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    width: 1350px;
    height: 341px; 
    border-radius: 10px;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}
 
